.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, .6);
  overscroll-behavior: auto;
}

.wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 30px 0;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contents {
  background: #fff;
  padding: 50px;
  position: relative;
  margin: 30px;
}
